* {
    background-color: aliceblue;
    box-sizing: border-box;
}
.hero{
    padding: 100px;
}

.hero__title {
    color: black;
}

.hero__description{
    color: darkblue;
}

.hero__highlight{
    color: #956262;
}

.feature {
    font-size: 10px;
    font-family: "Courier New", Courier, monospace;
    padding: 100px;
}

.feature__item {
    padding: 30px 5px;
}

.feature__title {
    color: darkgreen;
    font-size: 3.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.feature__title--selected {
    text-decoration: underline;
}

.feature__description {
    color: darkslategray;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: right;
    letter-spacing: 0.5rem;
}
.cta{
    padding: 100px;
    text-align: center;
    background-color: hsl(hue, saturation, lightness)
}
.cta__description{
    color: blueviolet;
    font-size: 2rem;
    margin-bottom: 20px;
}
.cta__button{
    background-color: darkblue;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.video{
    text-align: center;
    padding: 100px;
    font-weight: 500x;
    height: 100px;
}
.video__title{
    color: darkgreen;
    font-size: 3.2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.video__description{
    color: darkslategray;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: right;
    letter-spacing: 0.5rem;
}
.video__controls{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.video__button{
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.video__button--primary{
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.video__container{
    margin-top: 20px;
    background-color: #ccc;
    height: 500px;
    width: 100%;
}